﻿.RadUpload_Silk {
    color: #333
}

    .RadUpload_Silk .ruFileLI .ruButton:hover {
        color: #14afca
    }

    .RadUpload_Silk .ruFileLI .ruFileProgressWrap {
        background-color: #e3e3e3;
        background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.5));
        border-radius: 2px
    }

    .RadUpload_Silk .ruFileLI .ruFileProgress {
        border-color: #1193aa;
        background-color: #14afca;
        background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0))
    }

    .RadUpload_Silk .ruUploadSuccess .radIcon:before {
        background-color: #5ec232
    }

    .RadUpload_Silk .ruUploading .radIcon:before {
        background-color: #fdce3e
    }

    .RadUpload_Silk .ruUploadCancelled .radIcon:before, .RadUpload_Silk .ruUploadFailure .radIcon:before {
        background-color: #d51923
    }

    .RadUpload_Silk .ruSelectWrap .ruFakeInput {
        border-color: #c4c4c4;
        color: #3b3b3b;
        background-color: #fff
    }

    .RadUpload_Silk .ruSelectWrap .ruButton {
        border-color: #c4c4c4;
        color: #5f5f5f;
        background-color: #e3e3e3;
        background-image: linear-gradient(white,#e3e3e3);
        border-radius: 3px
    }

        .RadUpload_Silk .ruSelectWrap .ruButton.ruButtonHover {
            border-color: #0092ab;
            color: #fff;
            background-color: #0092ab;
            background-image: linear-gradient(#00acca,#0092ab)
        }

        .RadUpload_Silk .ruSelectWrap .ruButton.ruFocused {
            box-shadow: inset 0 0 5px rgba(17,147,170,0.5)
        }

    .RadUpload_Silk .ruDropZone {
        border-color: #c4c4c4;
        color: #5f5f5f;
        background-color: #e3e3e3;
        border-radius: 3px
    }
