﻿
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DistributionMatrixDetailPage.aspx.cs" Inherits="EDMs.Web.Controls.Workflow.DistributionMatrixDetailPage" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    
    <style type="text/css">
        
        div.RadGrid .rgPager .rgAdvPart     
        {     
            display:none;
        }
        div.rgDataDiv {
            overflow: auto !important;
        }

        .DropZone1
        {
            width: 300px;
            height: 250px;
            padding-left: 230px;
            background: #fff url(../../Images/placeholder-add.png) no-repeat center center;
            background-color: #357A2B;
            border-color: #CCCCCC;
            color: #767676;
            float: left;
            text-align: center;
            font-size: 16px;
            color: white;
            position: relative;
        }
        #btnSavePanel {
            display: inline !important;
        }

        .RadAjaxPanel {
            height: 100% !important;
        }

           
    </style>

    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        function CloseAndRebind(args) {
            GetRadWindow().BrowserWindow.refreshGrid(args);
            GetRadWindow().close();
        }

        function GetRadWindow() {
            var oWindow = null;
            if (window.radWindow) oWindow = window.radWindow; //Will work in Moz in all cases, including clasic dialog
            else if (window.frameElement.radWindow) oWindow = window.frameElement.radWindow; //IE (and Moz as well)

            return oWindow;
        }

        function CancelEdit() {
            GetRadWindow().close();
        }


            </script>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <telerik:RadScriptManager ID="RadScriptManager2" runat="server"></telerik:RadScriptManager>
        <telerik:RadAjaxLoadingPanel runat="server" ID="RadAjaxLoadingPanel2" />
        <telerik:RadGrid ID="grdDocument" runat="server" AllowPaging="False"
            AutoGenerateColumns="False" CellPadding="0" CellSpacing="0"
            GridLines="None" Skin="Windows7" Height="100%"
            AllowAutomaticUpdates="True"
            OnNeedDataSource="grdDocument_OnNeedDataSource" 
            OnItemDataBound="grdDocument_OnItemDataBound"
            OnUpdateCommand="grdDocument_OnUpdateCommand"
            OnInsertCommand="grdDocument_OnInsertCommand"
            OnDeleteCommand="grdDocument_OnDeleteCommand"
            PageSize="10" Style="outline: none; overflow: hidden !important;">
            <MasterTableView ClientDataKeyNames="ID" DataKeyNames="ID" Width="100%" CommandItemDisplay="TopAndBottom" EditMode="InPlace">
                <BatchEditingSettings OpenEditingEvent="Click" EditType="Row"></BatchEditingSettings>
                <PagerStyle AlwaysVisible="True" FirstPageToolTip="First page" LastPageToolTip="Last page" NextPagesToolTip="Next page" NextPageToolTip="Next page" PagerTextFormat="Change page: {4} &amp;nbsp;Page &lt;strong&gt;{0}&lt;/strong&gt; / &lt;strong&gt;{1}&lt;/strong&gt;, Total:  &lt;strong&gt;{5}&lt;/strong&gt; Contents." PageSizeLabelText="Row/page: " PrevPagesToolTip="Previous page" PrevPageToolTip="Previous page" />
                <HeaderStyle Font-Bold="True" HorizontalAlign="Center" VerticalAlign="Middle" />
                <Columns>
                    <telerik:GridBoundColumn DataField="ID" UniqueName="ID" Visible="False" />
                    
                    <%--<telerik:GridBoundColumn DataField="CurrentWorkflowStepName" HeaderText="Name" SortExpression="CurrentWorkflowStepName"
                        UniqueName="CurrentWorkflowStepName" ReadOnly="True">
                        <HeaderStyle Width="200px" HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Left"/>
                    </telerik:GridBoundColumn>--%>
                    
                    <telerik:GridEditCommandColumn UniqueName="EditColumn" ButtonType="ImageButton" EditImageUrl="~/Images/edit.png" UpdateImageUrl="~/Images/ok.png" CancelImageUrl="~/Images/delete.png" >
                            <HeaderStyle Width="50"  />
                            <ItemStyle HorizontalAlign="Center"/>
                        </telerik:GridEditCommandColumn>

                        <telerik:GridButtonColumn CommandName="Delete" UniqueName="DeleteColumn" 
                            ConfirmText="Do you want to delete item?" ButtonType="ImageButton" ImageUrl="~/Images/delete.png">
                            <HeaderStyle Width="24" />
                            <ItemStyle HorizontalAlign="Center" />
                        </telerik:GridButtonColumn>

                    <telerik:GridTemplateColumn HeaderText="Discipline" UniqueName="Discipline">
                        <HeaderStyle Width="200px" HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Left"/>
                        <ItemTemplate>
                            <%# Eval("DisciplineName") %>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:HiddenField ID="DisciplineID" runat="server" Value='<%# Eval("DisciplineID") %>'/>
                            <telerik:RadComboBox runat="server" ID="ddlDiscipline" Width="100%" >
                            </telerik:RadComboBox>
                        </EditItemTemplate>
                    </telerik:GridTemplateColumn>
                    
                    <telerik:GridTemplateColumn HeaderText="Document Type" UniqueName="DocumentType">
                        <HeaderStyle Width="200px" HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Left"/>
                        <ItemTemplate>
                            <%# Eval("DocumentTypeName") %>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:HiddenField ID="DocumentTypeID" runat="server" Value='<%# Eval("DocumentTypeID") %>'/>
                            <telerik:RadComboBox runat="server" ID="ddlDocumentType" Width="100%" >
                            </telerik:RadComboBox>
                        </EditItemTemplate>
                    </telerik:GridTemplateColumn>
                    
                    <telerik:GridTemplateColumn HeaderText="Information Only for Users" UniqueName="InfoOnlyUsers">
                        <HeaderStyle Width="200px" HorizontalAlign="Center" BackColor="Yellow"/>
                        <ItemStyle HorizontalAlign="Left" BackColor="Yellow"/>
                        <ItemTemplate>
                            <%# Eval("InformationOnlyUserNames") %>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:HiddenField ID="InformationOnlyUserIds" runat="server" Value='<%# Eval("InformationOnlyUserIds") %>'/>
                            <telerik:RadComboBox runat="server" ID="ddlInfoOnlyUser" Width="100%" CheckBoxes="true" EnableCheckAllItemsCheckBox="true">
                            </telerik:RadComboBox>
                        </EditItemTemplate>
                    </telerik:GridTemplateColumn>
                    
                    <telerik:GridTemplateColumn HeaderText="Work Assign for Users" UniqueName="WorkAssignUsers">
                        <HeaderStyle Width="200px" HorizontalAlign="Center" BackColor="Coral"/>
                        <ItemStyle HorizontalAlign="Left" BackColor="Coral"/>
                        <ItemTemplate>
                            <%# Eval("WorkAssignUserNames") %>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:HiddenField ID="WorkAssignUserIds" runat="server" Value='<%# Eval("WorkAssignUserIds") %>'/>
                            <telerik:RadComboBox runat="server" ID="ddlWorkAssignUser" Width="100%" CheckBoxes="true" EnableCheckAllItemsCheckBox="true">
                            </telerik:RadComboBox>
                        </EditItemTemplate>
                    </telerik:GridTemplateColumn>

                    <telerik:GridTemplateColumn HeaderText="Information Only for Roles" UniqueName="InfoOnlyRoles">
                        <HeaderStyle Width="200px" HorizontalAlign="Center" BackColor="Yellow"/>
                        <ItemStyle HorizontalAlign="Left" BackColor="Yellow"/>
                        <ItemTemplate>
                            <%# Eval("InformationOnlyRoleNames") %>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:HiddenField ID="InformationOnlyRoleIds" runat="server" Value='<%# Eval("InformationOnlyRoleIds") %>'/>
                            <telerik:RadComboBox runat="server" ID="ddlInfoOnlyRole" Width="100%" CheckBoxes="true" EnableCheckAllItemsCheckBox="true">
                            </telerik:RadComboBox>
                        </EditItemTemplate>
                    </telerik:GridTemplateColumn>
                    
                    <telerik:GridTemplateColumn HeaderText="Work Assign for Roles" UniqueName="WorkAssignRoles">
                        <HeaderStyle Width="200px" HorizontalAlign="Center" BackColor="Coral"/>
                        <ItemStyle HorizontalAlign="Left" BackColor="Coral"/>
                        <ItemTemplate>
                            <%# Eval("WorkAssignRoleNames") %>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:HiddenField ID="WorkAssignRoleIds" runat="server" Value='<%# Eval("WorkAssignRoleIds") %>'/>
                            <telerik:RadComboBox runat="server" ID="ddlWorkAssignRole" Width="100%" CheckBoxes="true" EnableCheckAllItemsCheckBox="true">
                            </telerik:RadComboBox>
                        </EditItemTemplate>
                    </telerik:GridTemplateColumn>
                    
                    
                </Columns>
            </MasterTableView>
            <ClientSettings Selecting-AllowRowSelect="true" AllowColumnHide="True" >
                <Resizing EnableRealTimeResize="True" ResizeGridOnColumnResize="True" ClipCellContentOnResize="false"></Resizing>
                <Scrolling AllowScroll="True" SaveScrollPosition="True" ScrollHeight="200" UseStaticHeaders="True" />
                <ClientEvents />
            </ClientSettings>
        </telerik:RadGrid>
        
         <%--<div style="width: 100%; text-align: center; padding-top: 270px">
        </div>--%>
        <asp:HiddenField runat="server" ID="docUploadedIsExist"/>
        <asp:HiddenField runat="server" ID="docIdUpdateUnIsLeaf"/>
        
        <telerik:RadAjaxManager runat="Server" ID="ajaxDocument" OnAjaxRequest="ajaxDocument_AjaxRequest">
            <AjaxSettings> 
                <telerik:AjaxSetting AjaxControlID="grdDocument">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="grdDocument"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="ajaxDocument">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="grdDocument" LoadingPanelID="RadAjaxLoadingPanel2"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
            </AjaxSettings>
        </telerik:RadAjaxManager>

        <telerik:RadScriptBlock runat="server">
            <script type="text/javascript">
                var ajaxManager;
                function OnBatchEditOpening(sender, args) {

                    switch (args.get_columnUniqueName()) {
                        case "CurrentWorkflowStepName":
                            args.get_cell().disable = true;
                        break;
                    default:
                    }
                }
          </script>
        </telerik:RadScriptBlock>
    </form>
</body>
</html>
